@charset "utf-8";

h2{
    font-size: 30px;
    font-family: 'open_sansbold';
}


/*
    font-family: 'open_sansbold';
    font-family: 'open_sansbold_italic';
    font-family: 'open_sansextrabold';
    font-family: 'open_sansextrabold_italic';
    font-family: 'open_sansitalic';
    font-family: 'open_sanslight';
    font-family: 'open_sanslight_italic';
    font-family: 'open_sansregular';
    font-family: 'open_sanssemibold';
    font-family: 'open_sanssemibold_italic';

 */